{{ define "main" }}

<div class="post-layout">
  <article class="post-content post_content_large">
    <header class="post-header">
      <div class="post-meta">
      </div>
      <h1 class="post-title">À propos</h1>
    </header>
    <div class="post-body">
      <h2 id="qui-sommes-nous">Qui sommes-nous?</h2>
      <p>Les Tou’Chouss, c’est une bande d’improvisateurs liégeois qui adorent inventer des histoires en direct.
        Spectacles, concepts déjantés, collaborations : on joue, on rit, on surprend… et chaque soir est différent !
        </p>
        <h2 id="cest-quoi">C'est quoi l'impro?</h2>
      <p>C’est du théâtre sans script : une idée, une suggestion du public, et l’aventure démarre. 
        Chaque scène est unique, drôle, parfois émouvante… toujours pleine de surprises.</p>
      <h2 id="les-membres">Les membres</h2>

      <div class="flex_container text-center">
        <div class="row">
          <div class="col col-3 vertical">
            <div class="member_name">
              Alexandra
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/alex.JPG" />
            </div>

          </div>
          <div class="col col-3 vertical">
            <div class="member_name">
              Jérémy
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/jerem.JPG" />
            </div>
          </div>
          <div class="col col-3 vertical">
            <div class="member_name">
              Elodie
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/elo.JPG" />
            </div>
          </div>
          <div class="col col-3 vertical">
            <div class="member_name">
              Michael
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/michael.JPG" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-3 vertical">
            <div class="member_name">
              Sarah
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/sarah.JPG" />
            </div>

          </div>
          <div class="col col-3 vertical">
            <div class="member_name">
              Christelle
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/christelle.JPG" />
            </div>

          </div>
          <div class="col col-3 vertical">
            <div class="member_name">
              Joachim
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/joachim2.JPG" />
            </div>

          </div>
          <div class="col col-3 vertical">
            <div class="member_name">
              Arnaud
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/arnaud.JPG" />
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col col-3 vertical">
            <div class="member_name">
              Sébastien
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/goutte.JPG" />
            </div>

          </div>
          <div class="col  col-3 vertical">
            <div class="member_name">
              Clara
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/clara.JPG" />
            </div>

          </div>
          <div class="col col-3 vertical">
            <div class="member_name">
              Pierre
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/pierre.JPG" />
            </div>
          </div>
        </div>
      </div>

      <h2>Hall of Fame</h2>

      <div class="container text-center">
        <div class="row">
          <div class="col col-3 vertical">
            <div class="member_name">
              Quentin
            </div>
            <div class="name_scene">
              Nom de scène: Jean-Claude
            </div>
            <div class="member_picture">
              <img src="/images/members/quentin.JPG" />
            </div>

          </div>
        </div>
      </div>

    </div>
  </article>




</div>

{{ end }}